.achievements__item {
  margin: 45px 0 7px 38px;

  @media (min-width: $tablet-width) {
    margin: 28px 0 24px 116px;
  }

  @media (min-width: $desktop-width) {
    margin: 28px 0 24px 58px;
  }
}

.achievements__label {
  position: relative;
  font-size: 18px;
  line-height: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    left: -60px;
    top: -5px;

    @media (min-width: $tablet-width) {
      left: -58px;
      top: -10px;
    }

    @media (min-width: $desktop-width) {
      left: -57px;
      top: -5px;
    }
  }
}

.achievements__checkbox {
  &:checked + .achievements__label::after {
    content: url("../img/tick.svg");
    position: absolute;
    left: -50px;
    top: -1px;

    @media (min-width: $tablet-width) {
      left: -49px;
      top: -3px;
    }
  }
}
