.advantages {
  background-image: url("../img/grey-background.png");
  background-position: 0 120px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("../img/grey-background-tablet.png");
    background-position: 0 168px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/grey-background-desktop.png");
    background-position: 0 234px;
  }
}

.advantages__header {
  margin: 40px auto 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #283645;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    margin: 47px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 60px auto 0 auto;
  }
}

.advantages__slogan {
  margin: 24px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 15px 0 0 0;
  }
}

.advantages__offer {
  margin: 30px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 20px 0 20px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 108px 0 0 0;

  @media (min-width: $tablet-width) {
    grid-area: advantages-list;
    padding: 84px 0 0 0;
  }


  @media (min-width: $desktop-width) {
    order: 1;
    display: flex;
    margin: -33px auto 0 auto;
  }
}

.advantages__item {
  margin: 5px auto 33px auto;
  width: 280px;
  padding: 0;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin: 5px 0 35px 0;
    width: 310px;
  }

  @media (min-width: $desktop-width) {
    margin: 5px 20px 35px 0;
    width: 300px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.advantages__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__item-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
  margin-top: 10px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 14px 26px 0 25px;
  }
}

.advantages__image-wrapper {
  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    display: flex;
  }
}

.advantages__image {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  height: 287px;
  background-image: url("../img/iphone-screen-3.png"), url("../img/iphone3.png");
  background-position: center 44px, center 9px;
  background-repeat: no-repeat, no-repeat;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    grid-area: advantages-image;
    background-color: transparent;
    height: 497px;
    background-image: url("../img/iphone-screen-3-tablet.png"), url("../img/iphone-3-tablet.png");
    background-position: 30px 75px, 15px 16px;
  }

  &--hidden {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    height: 340px;
    margin: 0;
    width: 300px;
    background-image:
      url("../img/shadow.png"),
      url("../img/iphone-screen-3-desktop.png"),
      url("../img/iphone-3-desktop.png");
    background-position: 0 328px, 69px 79px, 60px 38px;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

.advantages__image1 {
  @media (min-width: $desktop-width) {
    background-color: transparent;
    height: 340px;
    width: 300px;
    background-image:
      url("../img/shadow.png"),
      url("../img/iphone-screen-1-desktop.png"),
      url("../img/iphone-3-desktop.png");
    background-position: 0 328px, 62px 78px, 53px 38px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    margin-right: 20px;
  }
}

.advantages__image2 {
  @media (min-width: $desktop-width) {
    background-color: transparent;
    height: 340px;
    width: 300px;
    background-image:
      url("../img/shadow.png"),
      url("../img/iphone-screen-2-desktop.png"),
      url("../img/iphone-3-desktop.png");
    background-position: 0 328px, 65px 79px, 56px 38px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    margin-right: 20px;
  }
}

.advantages__wrapper {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "advantages-image advantages-list";
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    grid-template-areas: none;
  }
}
