.advantages {
  margin: 0;
  padding: 0;

  &__header {
    margin: 40px auto 0 auto;
    padding: 0;
    width: 280px;
    box-sizing: border-box;
  }

  &__offer {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #283645;

    & span {
      display: block;
      padding-top: 30px;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 24px;
      line-height: 120%;
      text-align: center;
      color: #283645;
    }
  }

  &__list {
    background-image: url("../img/grey-background.png");
    background-position: 0 -35px;
    background-repeat: no-repeat;
    overflow: hidden;
    list-style: none;
    padding-top: 75px;
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
  }

  &__item {
    margin: 15px auto 33px auto;
    width: 280px;
    padding: 0;
  }

  &__item-title {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 0;
  }

  &__item-description {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #283645;
    margin-top: 10px;
    box-sizing: border-box;
  }

  &__image {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 285px;
    // background-image: url("../img/iphone3.png"), url("../img/iphone-screen-3.png");
    // background-position: center 5px, center 37px;
    // background-repeat: no-repeat, no-repeat;
    background-image: url("../img/iphone-screen-3.png"), url("../img/iphone3.png");
    background-position: center 42px, center 5px;
    background-repeat: no-repeat, no-repeat;
    background-color: #F2F2F2;;
    overflow: hidden;
  }

}
