.applications__item {
  margin-top: 35px;
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    margin-left: 120px;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 132px;
  }
}

.applications__label {
  position: relative;
  font-size: 18px;
  line-height: 42px;

  &::before {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    left: -70px;
    top: -5px;

    @media (min-width: $tablet-width) {
      left: -61px;
      top: -10px;
    }
  }
}

.applications__radio {
  &:checked + .applications__label::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d22856;
    left: -57px;
    top: 7px;

    @media (min-width: $tablet-width) {
      left: -48px;
      top: 4px;
    }
  }
}
