.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  margin-right: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  margin-top: 10px;
}
