.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  margin-right: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}

.copyright__link {
  margin-top: 5px;
}
