.editor {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: white;
  }
}

.editor__wrapper {
  margin: 0 auto 10px auto;
  background-color: #f2f2f2;
  width: 280px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding-top: 38px;
    padding-bottom: 31px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
    padding-top: 35px;
  }
}

.editor__photo-wrapper {
  padding: 18px 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 60px 25px 80px;
  }
}

.editor__tools {
  margin: 22px 0 20px 0;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: start;
    margin: 5px 0 20px 22px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 2px;
  }
}

.editor__image {
  display: block;
}

.editor__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin: 62px 0 0 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 142px 0 0 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 410px;
  }
}

.editor__button {
  width: 280px;
  height: 55px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  border: 4px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;

  &--cancel {
    opacity: 10%;
    border-color: #283645;
    color: #283645;
    margin-bottom: 38px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 30%;
    }

    &:active {
      background-color: #283645;
      color: #ffffff;
    }
  }

  &--post {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 26px;
    }

    &:hover {
      background-color: #d22856;
      color: #ffffff;
    }

    &:active {
      color: fade-out(#ffffff, 0.7);
    }
  }

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}
