.editor {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: white;
  }
}

.editor__wrapper {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 38px;
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 35px;
  }
}

.editor__photo-wrapper {
  padding: 20px;

  @media (min-width: $desktop-width) {
    padding: 17px 61px 20px 83px;
  }
}

.editor__tools {
  margin: 22px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 6px 0 20px 21px;
    border-bottom: none;
  }
}

.editor__image {
  display: block;
}

.editor__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin: 62px 0 0 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 141px 0 0 26px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 410px;
  }
}

.editor__button {
  width: 280px;
  height: 55px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  border: 4px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;

  &--enabled {
    color: rgba(40, 54, 69, 0.1);
    border: 4px solid rgba(40, 54, 69, 0.1);
  }

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.editor__button-post {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.editor__button-cancel {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
