.emotions__text-field {
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  margin-top: 16px;
  min-width: 272px;
  min-height: 193px;
  resize: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  @media (min-width: $tablet-width) {
    margin: 36px 59px 51px 57px;
    min-height: 185px;
  }

  &::placeholder {
    padding-top: 12px;
    padding-left: 18px;
  }
}
