.feedback {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #283645;
  width: 320px;
  margin: 0 auto;
  padding: 0;

  &__header {
    width: 280px;
    margin: 0 auto;
  }

  &__offer {
    margin-top: 42px;
    margin-bottom: 35px;
  }

  &__contacts-list {
    list-style: none;
    padding: 0;
  }

  &__contacts-item {
    display: flex;
    // align-items: center;
    flex-direction: column;
    margin-bottom: 18px;
    padding: 0;
  }

  &__contacts-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #283645;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__contacts-link {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #D22856;
    margin-top: 0;
    padding: 0;
    text-decoration: none;
  }

  &__contacts {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #D22856;
    padding: 0;
    margin: 0;
  }

  // &__wrapper {
  //   background-image: url("../img/triangle_white_footer.png");
  //   background-position: bottom left;
  //   background-color: grey;
  //   background-repeat: no-repeat;
  // }
}
