.likes__button {
  border: 0;
  background-color: transparent;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  margin-top: 14px;
  margin-left: 16px;
}

.likes__text {
  margin: 10px 20px 19px 19px;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}
