.likes__button {
  border: 0;
  background-color: transparent;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  margin-top: 17px;
  margin-left: 16px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: 5px;
  }
}

.likes__text {
  margin: 12px 20px 17px 19px;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0;
  }
}
