.logo {
  // outline: 5px solid rgba(255, 0, 0, 0.8);
  // outline-offset: -5px;
  height: 69px;

  &__image {
    width: 74px;
    height: 69px;
    margin-left: 20px;
    box-sizing: border-box;
  }
}
