.main-nav__wrapper {
  width: auto;
  min-height: 70px;
  background-color: #283645;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}
