.main-nav__wrapper {
  width: auto;
  min-height: 70px;
  background-color: #283645;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
  }
}

.main-nav__link {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 2;

  @media (min-width: $desktop-width) {
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
  }
}
