.modal {
  display: none;

  &--open {
    display: block;
  }
}

.modal__wrapper {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 5px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 460px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.modal__text-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 24px;

  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    font-size: 30px;
    line-height: 40px;
  }

  &--br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--success {
    padding-top: 38px;

    @media (min-width: $tablet-width) {
      padding-top: 42px;
    }
  }
}

.modal__text-message {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    width: 322px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
  }

  &--br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.modal__button-block {
  background: #ffffff;
  height: 155px;
  box-sizing: border-box;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    height: 148px;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    background: #f2f2f2;
    margin-top: 62px;
    padding-top: 50px;
    height: 163px;
  }

  &--success {
    padding-top: 84px;
    height: 194px;
    background: #f2f2f2;

    @media (min-width: $tablet-width) {
      height: 160px;
      padding-top: 49px;
      margin-top: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 39px;
      padding-top: 50px;
      height: 163px;
    }
  }
}

.modal__button {
  display: block;
  width: 280px;
  height: 63px;
  color: #ffffff;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  cursor: pointer;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  &--success {
    @media (min-width: $desktop-width) {
      width: 460px;
    }
  }
}
