.page-header {
  background-color: $header-background;
  color: #ffffff;
  position: relative;
}

.page-header__toggle {
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 23px;
  background-color: grey;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    top: 43px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__menu-logo {
  padding: 22px 20px 24px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: #283645;
  box-shadow: 0 1px 0 #000000;

  @media (min-width: $tablet-width) {
    padding: 27px 20px 42px 20px;
  }

  @media (min-width: $desktop-width) {
    border: 0;
    padding: 26px 0 43px 0;
    background-color: transparent;
  }
}

.page-header__menu-logo-image {
  display: none;
  fill: #ffffff;

  &--mobile {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: none;

    &--tablet {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;

    &--desktop {
      display: block;
    }
  }
}

.page-header__wrapper {
  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 620px;
  }
}
