.page-form__title {
  padding: 45px 20px 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 92px 85px 0 85px;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 92px 0 0 0;
  }
}

.page-form__survey {
  @media (min-width: $tablet-width) {
    width: 620px;
    display: grid;
    grid-template-columns: 620px;
    grid-template-rows: repeat(6, min-content);
    margin: 0 auto;
    box-sizing: border-box;
    row-gap: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    grid-template-columns: repeat(2, 470px);
    grid-template-rows: repeat(5, min-content);
    padding: 0;
    gap: 0;
    box-sizing: border-box;
  }
}

.page-form__slogan {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  &--toggle-visible {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}

.page-form__legend {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  color: #d22856;
  padding: 0 30px;

  &--contacts {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.page-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
  }

  &--info-fullname {
    border: none;
  }
}
