.page__body {
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $dark-grey;
  background-color: $page-background;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.page__header {
  background-color: transparent;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: -110px;
  }
}

.page__main {
  overflow-x: hidden;
}

.page__footer {
  padding-top: 42px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 27px;
  }

  &--form {
    padding-top: 35px;

    @media (min-width: $tablet-width) {
      padding-top: 11px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 14px;
      padding-bottom: 70px;
    }
  }
}

.page__copyright {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-left: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -12px;
  }
}

.page__social {
  margin-top: 30px;
}
