.price {
  background-image: url("../img/grey-background2.png");
  background-repeat: no-repeat;
  background-position: 0 -6px;
  width: 320px;
  overflow: hidden;

  &__table {
    border-collapse: collapse;
    margin-left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    min-width: 840px;
    margin-top: 120px;
  }

  &__cell {
    position: relative;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;

    &--hidden {
      display: none;
    }
  }

  &__cell-header {
    border: 2px solid #e5e5e5;
    width: 276px;
    background-color: #283645;
    text-align: center;
  }

  &__cell-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 10px;
  }

  &__cell-cost {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 25px;
  }

  &__cell-text {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    padding-left: 20px;
    margin-top: 12px;
    margin-bottom: 15px;
  }

  &__cell-data {
    position: absolute;
    top: 17px;
    right: 19px;
  }

  &__toggles {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 40px;
  }
}
