.promo {
  // background-image: url("../img/back-tablet.png");
  background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  min-height: 733px;
  background-color: #1d2631;
  // background-size: 100%;
  background-position: center top;
  // background-position: center top;
  // background-repeat: no-repeat;
  // // background-size: cover;
  // min-height: 733px;
  // background-color: #1d2631;


  background-image: url("../img/back-mobile.png");
  background-size: 100%;
  // background-position: top;
  // background-position: center top;


  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet.png");
    // background-repeat: no-repeat;
    // background-position: center top;
    background-size: cover;
    min-height: 724px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.png");
    // background-position: center;
    // background-size: 100%;
    // background-size: cover;
    min-height: 853px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  min-height: inherit;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    // justify-items: flex-start;
    margin: 0 auto 0 auto;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    // justify-items: flex-start;
    // margin: 0 auto 0 auto;
    width: 940px;
    padding: 0;

  }
}

.promo__slogan {
  background-color: transparent;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: white;
  // padding-bottom: 100px;
  margin:  90px auto 0 auto;
  box-sizing: border-box;
  // width: 280px;
  min-height: inherit;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 120%;
    margin: 93px 0 0 20px;
    // margin-top: 93px;
    // width: 300px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    margin-top: 85px;
    // width: 300px;
    margin-left: 20px;
  }
}

.promo__header {
  padding: 0;
  margin: 0 auto;
  position: relative;
  width: 280px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 107px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 123px 0 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 286px;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    top: 175px;
    left: -20px;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      width: 660px;
      height: 545px;
      background-image: url("../img/phone-tablet.png");
      top: 72px;
      left: -20px;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 645px;
      background-image: url("../img/phone-desktop.png");
      top: 84px;
      left: 16px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 111px;
    height: 197px;
    background-image: url("../img/screen.png");
    background-size: cover;
    left: 85px;
    top: 207px;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      width: 195px;
      height: 346px;
      background-image: url("../img/screen-tablet.png");
      left: 352px;
      top: 125px;
    }

    @media (min-width: $desktop-width) {
      width: 230px;
      height: 408px;
      background-image: url("../img/screen-desktop.png");
      top: 148px;
      left: 587px;
    }
  }
}

.promo__caption {
  margin: 0 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  padding: 27px 20px 46px 20px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    padding: 65px 20px 60px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 170px 20px 88px 20px;
  }
}

.promo__catalog-caption {
  padding: 26px 20px 79px 20px;
}

.promo__application {
  background-color: transparent;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 30px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 37px 0 16px 0;
    // background-color: transparent;
    width: auto;
    height: auto;
  }
}
