.promo-application {
  background-color: #1d2631;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 300px;
  }
}

.promo-application__download {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 29px;
  box-sizing: border-box;
  width: 280px;
  padding: 15px 0;
  margin: 26px auto 32px auto;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 300px;
    font-size: 21px;
  }
}

.promo-application__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  min-width: 204px;

  @media (min-width: $tablet-width) {
    margin: 45px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 72px auto 0 auto;
  }
}

.promo-application__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 280px;
  margin: 15px auto 30px auto;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 300px;
    margin: 27px auto 0 auto;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    margin: 43px auto 109px auto;
  }
}
