.survey__label {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  padding: 15px 0 6px 23px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding: 0;
    margin-right: 19px;
    box-sizing: border-box;
  }
}

.survey__label-contacts {
  @media (min-width: $tablet-width) {
    order: 1;
    margin-top: 10px;
    margin-left: 77px;

    &::before {
      position: absolute;
      content: "";
      width: 59px;
      height: 59px;
      background-color: #e5e5e5;
      top: 32px;
      right: 61px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &--phone::before {
      background-image: url("../img/phone-icon.svg");
    }

    &--email::before {
      background-image: url("../img/mail-icon.svg");
    }
  }
}

.survey__input {
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding: 15px 0 15px 20px;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: auto;
    flex-grow: 1;
  }
}

.survey__input-contacts {
  @media (min-width: $tablet-width) {
    width: 494px;
    margin: 30px 60px 0 60px;
    box-sizing: border-box;
  }
}

.survey__info {
  margin: 22px 20px 40px 20px;
}

.survey__info-fullname {
  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    margin: 41px 0 0 0;
  }
}

.survey__info-contacts {
  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    margin: 10px 0 0 0;
  }
}

.survey__info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.survey__info-list-contacts {
  @media (min-width: $tablet-width) {
    margin: 5px 0 26px 0;
  }
}

.survey__info-list-item {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.survey__info-list-item-fullname {
  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;
    margin-top: 33px;
    margin-bottom: 50px;
  }
}

.survey__info-list-item-contacts {
  @media (min-width: $tablet-width) {
    position: relative;
    // margin-top: 10px;
  }
}

.survey__toggle {
  background-color: #f2f2f2;
  padding-top: 37px;
  margin-top: 43px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    background-color: white;
    margin-top: 0;
    padding-top: 0;
  }
}

.survey__toggle-achievements {
  @media (min-width: $tablet-width) {
    grid-row: 4/5;
    margin-top: 50px;
  }
}

.survey__toggle-applications {
  @media (min-width: $tablet-width) {
    grid-row: 2/3;
  }
}

.survey__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.survey__list-applications {
  @media (min-width: $tablet-width) {
    margin: 20px 0 42px 0;
  }
}

.survey__list-achievements {
  @media (min-width: $tablet-width) {
    margin: 24px 0 27px 0;
  }
}

.survey__emotion {
  margin: 37px 20px 37px 20px;

  @media (min-width: $tablet-width) {
    grid-row: 5/6;
    margin: 10px 0 37px 0;
  }
}

.survey__form-button {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: 0;
  border-radius: 3px;
  text-align: center;
  width: 280px;
  height: 62px;
  margin: 13px 20px 20px 20px;

  @media (min-width: $tablet-width) {
    margin: 20px 0 20px 0;
    width: 300px;
  }
}

.survey__form-footer {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-row: 6/-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
}

.survey__footer {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
  text-align: center;
  margin: 14px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.survey__designation {
  color: #d22856;
}
