.site-list__item {
  background-color: #283645;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;

    &--current {
      padding-bottom: 11px;
      border-bottom: 2px solid #ffffff;
    }
  }
}
