.site-list__item {
  background-color: #283645;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    min-height: 110px;
    background-color: transparent;
  }
}
