.site-list {
  // display: none;
  &__item {
    background-color: #283645;
    box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
