.slider {

  &__toggles li {
    width: 26px;
    height: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  &__toggle {
    width: 6px;
    height: 6px;
    background: rgba(40,54,69,0.3);
    border-radius: 50%;
    border: none;
    padding: 0;

    &--current {
      background: white;
      border: 3px solid #283645;
      box-sizing:  content-box;
    }
  }

}
