.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 176px;
}

.social__item {
  width: 54px;
  height: 54px;
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link-ico {
  color: rgba(40, 54, 69, 0.1);

  &:hover {
    color: rgba(40, 54, 69, 1);
  }

  &:active {
    color: rgba(40, 54, 69, 0.1);
    opacity: 30%;
  }
}
