.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 176px;
  // justify-content: space-between;
}

.social__item {
  width: 54px;
  height: 54px;
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}
