.tools__buttons {
  display: grid;
  grid-template-columns: repeat(3, min-content);

  padding-left: 30px;
  column-gap: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
  }
}

.tools__button-crop-svg {
  width: 44px;
  height: 44px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.tools__button-fill-svg {
  width: 48px;
  height: 43px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.tools__button-icon {
  fill: #283645;
  opacity: 30%;
  cursor: pointer;

  &:hover {
    opacity: 50%;
  }

  &--active {
    fill: #d22856;
    opacity: 100%;

    &:hover {
      opacity: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    fill: #d22856;
    opacity: 100%;

    &:hover {
      opacity: 100%;
    }
  }
}

.tools__button-contrast-svg {
  width: 32px;
  height: 32px;

  @media (min-width: $tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.tools__button {
  border: 0;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    height: 72px;
    margin: 0;
  }
}

.tools__scale {
  width: 240px;
  height: 2px;
  margin-left: 20px;
  background-color: #283645;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.tools__sliders {
  margin-top: 37px;
  margin-bottom: 35px;
  width: 240px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin: 0 0 0 28px;
    width: 202px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 50px;
    width: 288px;
    box-sizing: border-box;
  }
}

.tools__slider {
  position: relative;
  display: block;

  &--slider-visible {
    display: none;
  }

  @media (min-width: $tablet-width) {
    height: 72px;
    padding: 33px 0 0 0;
    box-sizing: border-box;

    &--slider-visible {
      display: block;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 275px;
      background: #283645;
      opacity: 0.1;
      top: 68px;
      left: -53px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 410px;
      left: -95px;
    }
  }
}

.tools__toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 212px;
  top: -5px;
  background: #ffffff;
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 50%;

  &:active {
    background-color: #d22856;
  }
}

.tools__toggle-crop {
  @media (min-width: $tablet-width) {
    left: 144px;
    top: 27px;
  }

  @media (min-width: $desktop-width) {
    left: 70px;
  }
}

.tools__toggle-fill {
  @media (min-width: $tablet-width) {
    left: 25px;
    top: 27px;
  }

  @media (min-width: $desktop-width) {
    left: 246px;
  }
}

.tools__toggle-contrast {
  @media (min-width: $tablet-width) {
    left: 96px;
    top: 25px;
  }

  @media (min-width: $desktop-width) {
    left: 159px;
  }
}
