// colors
$page-background: #ffffff;
$grey-background: #f2f2f2;
$dark-grey: #283645;
$header-background: rgba(0, 0, 0, 0.3);

// Viewports
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width: 659px;
